{% extends "base.html" %}

{% block mainContent %}
<!-- About Section -->
<section id="about" class="about">
    <div style="text-align: center;" class="container">
        <h1>Hey, I'm <span style="color:#00ff88;" class="highlight">Md Jiyaul Haq</span></h1>
        <p>
            I'm a <b>Python Developer</b>, specializing in
            <b>Django Framework</b> and creating
            efficient, scalable, and visually appealing web applications. My
            work focuses on <b>backend development</b> using <b>Django</b> while
            also delivering
            polished <b>frontend designs</b> using <b>HTML</b>, <b>CSS</b>, and
            <b>JavaScript</b>.
        </p>
        <p>
            I’ve built projects like my <a target="_blank"
                href="https://mdjiyaul.com.np/" class="link">portfolio
                website</a>, a <b>to-do application</b>, and
            a <b>storefront system</b>, showcasing my expertise in <b>Django</b>
            and clean code practices.
        </p>
        <p>
            I’ve contributed to open-source projects like
            <b>Hacktoberfest</b> and enjoy guiding new developers. You can check
            out my contributions and projects on
            <a target="_blank"
                href="https://github.com/MdJiyaulHaq?tab=repositories"
                class="link">GitHub</a>. I also explore cutting-edge
            tools and emerging tech.
        </p>
        <p style="color:#00ff88;" class="fun-fact">
            🌱 <b>Fun Fact:</b> Outside of development, I enjoy solving
            <b>Rubik's Cubes</b> (under
            55 seconds!), Reading programming books, Singing and Walking to stay
            inspired.
        </p>

        <div class="contact-links">
            <a target="_blank" href="https://github.com/MdJiyaulHaq"
                class="button">Follow on
                GitHub</a>
            <a target="_blank" href="https://www.linkedin.com/in/md-jiyaul-haq/"
                class="button">Connect on LinkedIn</a>
        </div>
    </div>
</section>

{% endblock %}
