{% extends "base.html" %}

{% block mainContent %}
        <!-- About Section -->
        
            <section class="about">
                <div class="container">
                    <h1>Hey, I'm <span class="highlight">Md Jiyaul
                            Haq</span></h1>
                    <p>
                        I'm an experienced Web Developer currently working for
                        an award-winning software development agency.
                        I specialize in custom <b>WordPress</b> themes,
                        <b>Laravel</b> systems using <b>Filament</b>, and love
                        leveraging
                        technologies like <b>React</b> and <b>Next.js</b>.
                        Recently, I have been exploring <b>Go</b>.
                    </p>
                    <p>
                        Outside of my professional role, I enjoy exploring
                        programming tools and emerging tech.
                        Take a look at my <a href="#" class="link">side
                            projects</a> and my contributions on
                        <a href="#" class="link">GitHub</a>.
                    </p>
                    <p>
                        Apart from web development, I love going to the gym,
                        watching combat sports (especially
                        Boxing and MMA), walking, and reading books. Currently,
                        I'm enjoying
                        <i>Deep Work</i> by Cal Newport.
                    </p>
                    <p class="fun-fact">
                        🌱 <b>Interesting Fact:</b> I can solve a 3x3 Rubik's
                        Cube in under 25 seconds!
                    </p>

                    <div class="contact-links">
                        <a href="#" class="button">Follow on GitHub</a>
                        <a href="mailto:your-email@example.com"
                            class="button">Email me!</a>
                    </div>
                </div>
            </section>

{% endblock %}
