{% extends "base.html" %}

{% block mainContent %}
<!-- About Section -->
<section id="about" class="about">
    <div style="text-align: center; max-width: 700px; min-width: 166px;" class="container">
        <h1>Hey, I'm <span style="color:#00ff88;" class="highlight">Md Jiyaul Haq</span></h1>
        <p>
            I'm a <b>Python Developer</b> with a strong focus on <b>Django</b>-based backend development. I specialize
            in building robust, scalable RESTful APIs, writing test cases for reliability, and conducting performance
            optimization. My backend work emphasizes clean architecture, security, and maintainability. On the frontend,
            I implement responsive designs using <b>HTML</b>, <b>CSS</b>, and <b>JavaScript</b> when needed.
        </p>
        <p>Some of my key projects include:</p>
        <div style="max-width: 600px; margin: 0 auto; text-align: left;">
            <ul>
                <li><b>ErSathi</b> — an engineering license preparation exam portal.</li>
                <li><b>SnapBuy</b> — a modern e-commerce platform inspired by Amazon and Flipkart.</li>
                <li><b>ChatBuddy</b> — a community-driven social media app like Quora and Stack Overflow.</li>
                <li><b>MedPrep Nepal</b> — a medical exam preparation portal for aspiring doctors.</li>
                <li><b>ChitChat</b> — a global and friend-based chat system using Django Channels, built as a precursor
                    to ChatBuddy.</li>
                <li><b>Portfolio Website</b> — built with Django, DRF, HTML, CSS, and JavaScript to showcase my work and
                    skills.</li>
            </ul>
            <br>
            <p>
                I've contributed to open-source events like <b>Hacktoberfest</b> and enjoy mentoring newcomers to web
                development.
                You can explore my work and contributions on <a target="_blank"
                    href="https://github.com/MdJiyaulHaq?tab=repositories" class="link">GitHub</a>.
            </p>
        </div>
        <p style="color:#00ff88;" class="fun-fact">
            🌱 <b>Fun Fact:</b> Outside of coding, I enjoy solving <b>Rubik’s Cubes</b> (under 55 seconds!), reading
            programming books, singing, and long walks for inspiration.
        </p>

        <div class="contact-links">
            <a style="padding: 7px 10px;" target="_blank" href="https://github.com/MdJiyaulHaq" class="button">Follow on
                GitHub</a>
            <a style="padding: 7px 10px;" target="_blank" href="https://www.linkedin.com/in/md-jiyaul-haq/"
                class="button">Connect on LinkedIn</a>
        </div>
    </div>
</section>

{% endblock %}