{% extends "base.html" %}

{% block mainContent %}

<!-- Blog Section -->
<section id="blog" class="blog">
    <article>
        <p class="date">December 16, 2024</p>
        <h2>Useful Git Commands</h2>
        <p>Useful Git commands and flags I’ve discovered. Some I use
            frequently and others are nice to know.</p>
        <a href="#" class="read-post">Read post →</a>
    </article>
    <article>
        <p class="date">December 6, 2024</p>
        <h2>How to Easily Set Up Contentlayer with Next.js 14</h2>
        <p>I recently revamped my portfolio using Next.js 14. Here’s how
            I integrated Contentlayer for MDX blog posts.</p>
        <a href="#" class="read-post">Read post →</a>
    </article>
</section>

{% endblock %}