{% extends "base.html" %}

{% block mainContent %}
<div class="form-container">
  <br>
  <h2 style="color:#00ff88;">User Form</h2>
  <br>
  <form action="{% url 'contact' %}" method="POST">
    {% csrf_token %}
    <!-- Name Field -->
    <div class="form-group">
      <div><label for="name">Name:</label></div>
      <div><input style="padding: 7px; border-radius: 7px;" type="text" id="name" name="name"
          placeholder="Enter your name" required>
      </div>
    </div>
    <br>
    <!-- Email Field -->
    <div class="form-group">
      <div><label for="email">Email:</label></div>
      <div><input style="padding: 7px; border-radius: 7px;" type="email" id="email" name="email"
          placeholder="Enter your email" required>
      </div>
    </div>

    <br>
    <!-- Message Field -->
    <div class="form-group">
      <div><label for="message">Message:</label></div>
      <div><textarea style="padding: 7px; border-radius: 7px;" type="textarea" id="message" name="message" rows="4"
          placeholder="Enter your message"></textarea>
      </div>
    </div>
    <br>
    <!-- Submit Button -->
    <button type="submit"> Submit </button>
  </form>
</div>
{% endblock %}