{% extends "base.html" %}

{% block mainContent %}
<!-- index.html -->
<br>
<marquee class="marquee" onmouseover="stop()" onmouseout="start()" id="marquee"
    direction="left">
    {% for x in blogData%}
    <a href="/blogDetail/{{x.blog_slug}}">{{x.blog_title}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
</marquee>

<!-- Main Content -->
<section id="home"></section>
<section id="about" class="intro">
    <div class="content">
        <h1>Hello! I'm <span style="color:#00ff88;" class="highlight">Md Jiyaul
                Haq</span></h1>
        <p>
            A Python Django developer based in Pokhara with a passion for
            creating
            visually stunning and high-performing web applications. I specialize
            in backend development with Django.
        </p>

        <div class="icons">
            <a target="_blank" href="https://github.com/MdJiyaulHaq"
                aria-label="GitHub"><img
                    src="github-icon.png"
                    alt="GitHub"></a>
            <a target="_blank" href="https://www.linkedin.com/in/md-jiyaul-haq/"
                aria-label="LinkedIn"><img
                    src="linkedin-icon.png" alt="LinkedIn"></a>
        </div>
    </div>
</section>

<!-- Projects Section -->
<section id="projects" class="projects">
    <h2>Recent Projects</h2>
    {% for x in projectData%}
    <div class="project-card">
        <h3>{{x.project_title | safe}}</h3>
        <p>{{x.project_technology | safe}}</p>
    </div>
    {% endfor %}
    <a href="{% url 'projects' %}" class="view-projects">View all Projects →</a>
</section>

<!-- Blog Section -->
<section id="blog" class="blog">
    <h2>Recent Blogs</h2>
    {% for x in blogData%}
    <article>
        <p class="date">{{x.blog_date}}</p>
        <h2 style="color:#00ff88;">{{x.blog_title | safe}}</h2>
        <p>{{x.blog_overview | safe}}</p>
        <a href="/blogDetail/{{x.blog_slug}}" class="read-post">Read post →</a>
    </article>
    {% endfor %}
</section>

{% endblock %}