{% extends "base.html" %}

{% block mainContent %}
<!-- index.html -->
<marquee onmouseover="stop()" onmouseout="start()" id="marquee"
    direction="left">
    {% for x in blogData%}
    <a href="/blogDetail/{{x.blog_slug}}">{{x.blog_title}}</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% endfor %}
</marquee>
<!-- Main Content -->
<section id="about" class="intro">
    <div class="content">
        <h1>Hello! I'm Md Jiyaul Haq.</h1>
        <p>
            A Web Developer based in Pokhara with a passion for creating
            visually stunning
            and performative web applications. I focus on optimizing
            user experience.
        </p>
        <div class="icons">
            <a target="_blank" href="https://github.com/MdJiyaulHaq"
                aria-label="GitHub"><img
                    src="github-icon.png"
                    alt="GitHub"></a>
            <a target="_blank" href="https://www.linkedin.com/in/md-jiyaul-haq/"
                aria-label="LinkedIn"><img
                    src="linkedin-icon.png" alt="LinkedIn"></a>
        </div>
    </div>
</section>

<!-- Blog Section -->
<section id="blog" class="blog">
    {% for x in blogData%}
    <article>
        <p class="date">{{x.blog_date}}</p>
        <h2>{{x.blog_title | safe}}</h2>
        <p>{{x.blog_des | safe}}</p>
        <a href="/blogDetail/{{x.blog_slug}}" class="read-post">Read post →</a>
    </article>
    {% endfor %}
</section>

<!-- Projects Section -->
<section id="projects" class="projects">
    <h2>Recent Projects</h2>
    <div class="project-card">
        <h3>Domain Manager</h3>
        <p>React, Express, Tailwind</p>
    </div>
    <div class="project-card">
        <h3>Portfolio v2</h3>
        <p>TypeScript, Tailwind</p>
    </div>
    <div class="project-card">
        <h3>GitHub Profile CLI</h3>
        <p>Node, Picocolors</p>
    </div>
    <a href="#" class="view-projects">View all Projects →</a>
</section>

{% endblock %}