{% extends "base.html" %}

{% block mainContent %}
<main>
    <section id="projects" style="max-width: 720px;" class="projects-section">
        <h1>A Collection Of My Work</h1>
        <p>
            I've worked on many personal projects over the years but
            these are the ones that I'm most proud of. Many of them are
            open-source, so if you see something that piques your
            interest, check out the code and contribute if you have
            ideas for how it can be improved!
        </p>
        <div class="projects-grid">
            {% for x in projectData%}
            <div class="project-card" style="display: flex; flex-direction: column; height: 100%;">
                <div> <!-- This wraps the non-sticky content -->
                    <h3>{{x.project_title | safe}}</h3>
                    <p>{{x.project_des | safe}}</p>
                </div>
                <div style="margin-top: auto;"> <!-- This will stick to the bottom -->
                    <p><strong style="font-size: 18px;
                        font-weight: bold;
                        margin-top: 20px;
                        color: #00FFFF;">Tech Stack: </strong>
                        {{x.project_technology | safe}}
                    </p>
                    <div style="display: grid; grid-template-columns: 1fr 1fr;">
                        <a style="text-decoration: underline; justify-self: start;" href="{{ x.project_link }}"
                            target="_blank">GitHub</a>
                        <a style="text-decoration: underline; justify-self: end;" href="{{ x.live_link }}" target="_blank">Visit
                            Website</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}